<canvas id="canvas"></canvas>
{{#if dm}}
<div class="dm">
    <ul>
        <li>
            <select name="mouseMode" id="mouseMode">
                <option value="draw">Draw</option>
                <option value="newEnt">New Ent</option>
                <option value="moveEnt">Move Ent</option>
            </select>
        </li>
        <li>
            <button type="button" name="button" id="undoLine">Undo Line</button>
        </li>
        <li>
            <select class="" name="entList" id="entList" data-player=false></select>
        </li>
        <li>
            <button id="delEnt">Delete Entity</button>
        </li>
        <li>
            <select name="entColor" id="entColor">
                <option value="orange">orange</option>
                <option value="green">green</option>
                <option value="blue">blue</option>
                <option value="pink">pink</option>
                <option value="red">red</option>
                <option value="black">black</option>
            </select>
        </li>
        <li style="padding-left: 40px;">
            <button type="button" name="resetBoard" id="resetBoard">Reset Board</button>
        </li>
    </ul>
</div>
{{/if}}
